@font-face {
  font-weight: 100; /* Соответствует значению normal */
  font-family: MuseoSans;
  src: url("../fonts/MuseoSansCyrl_100.otf");
}

@font-face {
  font-weight: 300; /* Соответствует значению bold */
  font-family: MuseoSans;
  src: url("../fonts/MuseoSansCyrl_300.otf");
}

@font-face {
  font-weight: 500;
  font-family: MuseoSans;
  src: url("../fonts/MuseoSansCyrl_500.otf");
}

@font-face {
  font-weight: 700;
  font-family: MuseoSans;
  src: url("../fonts/MuseoSansCyrl_700.otf");
}

@font-face {
  font-weight: 900;
  font-family: MuseoSans;
  src: url("../fonts/MuseoSansCyrl_900.otf");
}

body {
  position: relative;
  font-family: "Museo Sans Cyrl", sans-serif;
}

h1 {
  font-weight: 900;
}

i {
  font-weight: 100;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  color: #203842;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  padding: 1px;
}

/* Inherit fonts for inputs and buttons */
input,
textarea,
select {
  font: inherit;
}

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  font-family: "MuseoSans", Arial, sans-serif;
}
.container {
  max-width: auto;
  max-height: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.section {
  max-width: 620px;
  flex: 1;
  border-radius: 10px;
}

.section_ru {
  flex: 1;
  border-radius: 10px;
  max-width: 620px;
}

.section-center {
  padding-top: 5vw;
}

.section-center-ru {
  padding-top: 50px;
}

.title-logo {
  padding-left: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-logo-ru {
  padding-left: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text1-logo {
  font-size: 5vw;
  font-weight: 700;
}

.text1-logo-ru {
  font-size: 95px;
  font-weight: 900;
}

.text1-desk {
  font-size: 3vw;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.social a {
  margin: 0 10px;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.text-desk2 {
  padding-top: 3vw;
  padding-bottom: 4vw;
  font-size: 2vw;
  font-weight: 700;
}

.text-desk2-ru {
  padding-top: 37px;
  padding-bottom: 80px;
  font-size: 2vw;
  font-weight: 700;
}

.section-description-ru {
  font-size: 35px;
}

.block-text {
  padding-right: 10px;
  padding-top: 23vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.block-text-ru {
  padding-right: 10px;
  padding-top: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.buttons {
  margin-top: 20px;
}

.img {
  width: auto;
}

.man-rolls {
  z-index: -1;
  position: fixed;
  height: auto;
  max-height: 100%;
}

.logo {
  display: flex;
}
.logo_g {
  height: 11vw;
}

button {
  border: 0px;
  color: #fff;
  margin-bottom: 30px;
  height: 2.2vw;
  font: inherit;
  background-color: #f52341;
  width: 15vw;
  font-weight: 900;
  font-size: 1.5vw;
}

.lang-desk {
  padding: 80px;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}

.section-title {
  padding-right: 45px;
  font-size: 3.5vw;
  font-weight: 900;
  color: #000;
  line-height: 100%;
}

.section-title-ru {
  padding-right: 45px;
  font-size: 3.5vw;
  font-weight: 900;
  color: #000;
  line-height: 100%;
}

.section-description-color {
  font-size: 2vw;
  font-weight: 900;
  color: #f52341;
}

.section-description-color-ru {
  font-size: 34px;
  font-weight: 900;
  color: #f52341;
}

.section-description-ru {
  font-size: 2vw;
}

.lang-mobile {
  display: none;
}

.star_1 {
  position: absolute;
  right: -1074px;
  top: 41px;
}

.star_2 {
  position: absolute;
  right: 14px;
  top: 359px;
}

.star_3 {
  position: absolute;
  right: -654px;
  top: 969px;
}

.star_4 {
  position: absolute;
  right: -774px;
  top: 359px;
}

@media only screen and (max-width: 1300px) {
  .man-rolls {
    z-index: -1;
    position: fixed;
    height: auto;
    max-height: 100%;
  }
}

.section-center {
  padding-top: 50px;
}

.section-center-ru {
  padding-top: 50px;
}

.title-logo {
  padding-left: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-logo-ru {
  padding-left: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_g {
  height: 10vw;
}

.text1-logo {
  font-size: 6vw;
  font-weight: 500;
}

.text1-logo-ru {
  font-size: 6vw;
  font-weight: 500;
}

.text-desk2 {
  padding-top: 2vw;
  padding-bottom: 3vw;
  padding-top: 1vw;
  font-weight: 700;
}

.text-desk2-ru {
  padding-top: 2vw;
  padding-bottom: 3vw;
  padding-top: 1vw;
  font-weight: 700;
}

.block-text {
  padding-right: 10px;
  padding-top: 16vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.block-text-ru {
  padding-right: 10px;
  padding-top: 16vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.section-title {
  font-size: 3.5vw;
  font-weight: 900;
  color: #000;
  line-height: 100%;
}

.section-title-ru {
  padding-right: 3px;
  font-size: 3.5vw;
  font-weight: 900;
  color: #000;
  line-height: 100%;
}

.section-description-color {
  font-size: 3vw;
  font-weight: 900;
  color: #f52341;
}

.section-description-color-ru {
  font-size: 3vw;
  font-weight: 900;
  color: #f52341;
}

.section-description {
  font-size: 2vw;
}

.section-description-ru {
  font-size: 2vw;
}

button {
  border: 0px;
  color: #fff;
  margin-bottom: 1.5vw;
  /* height: 3.5vw; */
  font: inherit;
  background-color: #f52341;
  /* width: 18vw; */
  font-weight: 900;
  /* font-size: 2vw; */
}

@media only screen and (max-width: 576px) {
  .container {
    width: 90%; /* Ширина контейнера будет составлять 90% ширины экрана */
    margin: 0 auto;
    padding-right: 10px;
    display: flex;
    width: max-content;
    flex-direction: column;
  }

  .logo_g {
    height: 150px;
  }

  .text-desk2-ru {
    padding-left: 22px;
    font-size: 5vw;
    margin-top: 20px;
    padding-bottom: 50px;
  }

  .title-logo {
    padding-left: 10px;
  }

  .block {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  .section-title {
    font-size: 30px;
    font-weight: 900;
    color: #000;
    line-height: 100%;
  }

  .section-title-ru {
    font-size: 27px;
    font-weight: 900;
    color: #000;
    line-height: 100%;
  }

  .section-center {
    padding-top: 50px;
  }

  button {
    border: 0px;
    color: #fff;
    margin-bottom: 3.5vw;
    height: 7.5vw;
    font: inherit;
    background-color: #f52341;
    width: 47vw;
    font-weight: 900;
    font-size: 4vw;
  }

  .section-description-color {
    font-size: 18px;
    font-weight: 900;
    color: #f52341;
  }

  .section-description {
    font-size: 22px;
  }

  .block-text {
    padding-top: 250px;
    display: flex;
    align-items: flex-start;
    margin-left: 15px;
  }

  .text1-logo {
    font-size: 10vw;
  }

  .man-rolls {
    top: 403px;
    z-index: -1;
    position: absolute;
    /* height: auto; */
    /* height: 500px; */
    left: 99px;
    max-height: 100%;
    max-width: 100%;
    transform: scale(-0.65, 0.65);
  }

  .text-desk2 {
    padding-left: 22px;
    font-size: 5.8vw;
    margin-top: 20px;
    padding-bottom: 50px;
  }

  .lang-desk {
    display: none;
  }

  .lang-mobile {
    align-self: end;
    display: flex;
  }

  .section-description-ru {
    font-size: 16px;
  }

  .star_1 {
    position: absolute;
    right: 244px;
    top: 11px;
    width: 22px;
  }

  .star_2 {
    position: absolute;
    right: 92px;
    top: 404px;
    width: 22px;
  }

  .star_3 {
    width: 22px;
    position: absolute;
    right: 314px;
    top: 840px;
  }

  .star_4 {
    position: absolute;
    right: 488px;
    top: 832px;
    width: 22px;
  }
}

@media only screen and (max-width: 430px) {
  .container {
    height: 100dvh;
    transition: height 0.3s linear;
    margin: 0;
    padding-right: 10px;
    display: flex;
    width: max-content;
    flex-direction: column;
  }
  .logo_g {
    margin-left: -20px;
    margin-right: -26px;
    height: 110px;
    height: 21vw;
  }
  .text1-logo {
    font-weight: 900;
  }

  .text1-desk {
    font-size: 7vw;
  }

  .text-desk2 {
    padding-left: 1px;
    /* font-size: 23px; */
    margin-top: 20px;
    padding-bottom: 50px;
  }

  .man-rolls {
    top: 279px;
    z-index: -1;
    position: absolute;
    /* height: auto; */
    /* height: 500px; */
    left: 15vw;
    max-height: 100%;
    max-width: 100%;
    transform: scale(-0.7, 0.7);
  }

  .block-text {
    padding-top: 108px;
    display: flex;
    align-items: flex-start;
    margin-left: 15px;
  }

  .section-title {
    font-size: 22px;
    font-weight: 900;
    color: #000;
    line-height: 100%;
  }

  .section-description {
    font-size: 11px;
  }

  .section-description-ru {
    font-size: 11px;
  }

  .text-desk2-ru {
    padding-left: 1px;
    /* font-size: 20px; */
    margin-top: 20px;
    padding-bottom: 50px;
  }

  .section-title-ru {
    font-size: 19px;
    font-weight: 900;
    color: #000;
    line-height: 100%;
  }
}
